*,
::before,
::after {
  box-sizing: border-box;
}

body {
    /* responsive measures */
  background:linear-gradient(rgba(12, 23, 42, 0.843), rgba(9, 25, 58, 0.65)),url('img/photo4code.png') no-repeat left center/cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Lekton", sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}

.msg {
    /* *value of parent */
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}


.play-again {
  padding: 8px 15px;
  border: 0;
  background-color: #f97fb6;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#play-again:hover {
    background: #590a2e;
    transform: scale(1.2);
}


#waveform {
  width: 500px;
  height: 100px;
  background: rgba(255, 255, 255, 0.204);
  border-radius: 8px;
  margin-bottom: 20px;
}